body {
	background: #0B0B0B;
	
}
	
#contents {
	background:url(https://thumbs.dreamstime.com/z/bitcoin-blockchain-seamless-pattern-vector-illustration-cryptocurrency-emblem-dark-background-78375359.jpg);
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	color: #9c3;
	font-family: 'Lato', sans-serif;
	font-size: medium;
	padding: 25px;
}

h1 { 

}

A:link {
	text-decoration: none;
	color:#fc0;
}

A:hover {
  color: green;
}

a:visited {

}

#headblock address { 

}
 
 #home{
   background: #222;
	 padding: 15px;
	 margin-top: 5px;
 }
 

 h3 {
	color: #ffdead;
	 margin-top: 20px;
}
 
 img {
   width:260px;
	 float:right;
	 padding: 35px;
}

img.left {
	float:left;
}

#footer {
	color: white;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
	font-size: 80%;
}

#clearer {
	clear:both;
}
