body {
	background: #FFFFFF;
	
}
	
#contents {
	background:url(https://paritypayinstitute.files.wordpress.com/2016/05/nodes.jpg?w=662);
	width:900px;
	margin-right:auto;
	margin-left:auto;
        color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: medium;
	padding: 25px;
}

h1 {  color: #FFFFFF;

}

A:link {
	text-decoration: none;
	color:#FFFFFF;
}

A:hover {
  color: green;
}

a:visited {

}

#headblock address { 

}
 
 #home{
   background: #222;
	 padding: 15px;
	 margin-top: 5px;
 }
 

 h3 {
	color:#89cfe9;
	 margin-top: 20px;
}
 
 img {
   width:260px;
	 float:right;
	 padding: 35px;
}

img.left {
	float:left;
}

#footer {
	color: white;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
	font-size: 80%;
}

#clearer {
	clear:both;
}

.topnav {
 overflow: hidden;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    margin-top: 10px;
}

.topnav a {
 float: left;
 display: block;
 color: #f2f2f2 ;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
 color: black;
}

.topnav .icon {
 display: none;
}


@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: left;
   display: block;
 }
}

 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }

