Body { 
  background:black;}
#logo {width:200px}
.topnav {color: white}
.topnav {
 overflow: hidden;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    margin-top: 10px;
}

.topnav a {
 float: right;
 display: block;
 color: white ;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
